.formContainer{
    background: var(--lightBackground);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-wrap: wrap;
    padding: 3rem 1rem;
}

.formContainer div label{
    font-size: 2rem;
    margin-right: 1rem;
}

.formContainer div select{
    font-size: 2rem;
}

.formContainer button{
    background: black;
    color: white;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.formContainer button:hover{
    background-color: rgb(83, 80, 80);
}